body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin:0;
}

h1 {  
  text-align: center;
  font-size: 400%;
  margin-top: 0px;
  padding: 0px
}

h2 {
  font-size: 200%;
  margin-left: 25px;
}

legend {
  font-size: 200%;
  margin-bottom: 25px;
  margin-top: 25px;
}


h3,p, label, #go_back {
  font-family: 'Lato', sans-serif;
  margin-left: 25px;
}


header {
/*  color: white;*/
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  text-align: center;
  position: relative
}

fieldset {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.js-headshot   {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  height: 275px;
  width: 220px;
}

.js-your-address, legend   {
  margin-left: 25px;
  margin-top: 25px;
}

.js-official-headshot {
  margin-top: 25px
}

.js-error-message {
  margin-top: 25px;
  position: relative;
}

.js-news-description {
 margin-left: 30px;
}

button {
background-color: #2575fc;
border: 5px solid #2575fc;
color: white;
}

form {
/* display: block;*/
text-align: center;
 width: 50%;
 margin-bottom: 50px;
 margin-left: auto;
 margin-right: auto;
}

input {
  width: 50%;
}

a:link {
  color: #0157ae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
