body {
  font-family: 'EB Garamond', serif;  
}

h1 {  
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 200%;
  margin-left: 25px;
}

h3,p, label {
  font-family: 'Lato', sans-serif;
  margin-left: 25px;
}

header {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/American-flag-2a.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center
}

fieldset {
  border: 1px solid white;
}

.js-headshot   {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  height: 275px;
  width: 220px;
}

.js-official-headshot {
  margin-top: 25px
}

.js-news-description {
 margin-left: 30px;
}

button {
 background-color: #D42729;
 border: 5px solid #D42729;
}

form {
 display: block;
 width: 50%;
 margin-bottom: 50px;
}

input {
  width: 50%;
}

a:link {
  color: #0157ae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
