body, html {
  font-family: 'Roboto', sans-serif;
}

h1 {  
  background: linear-gradient(to right, #4481eb 0%, #04befe 100%);
  text-align: center;
/*  font-size: 400%;*/
  margin-top: 0px;
  padding: 0px
}

/*h2 {
  font-size: 200%;
  margin-left: 25px;
} */

legend {
  font-size: 200%;
  margin-bottom: 25px;
  margin-top: 25px;
}


/* h3,p, #go_back {
  margin-left: 25px;
} */

label {
  font-size: 150%;
  margin-left: 25px;
}
  
fieldset {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.error-message {
  text-align: center;
}

.js-headshot   {
/*  margin-left: 25px; */
  display: block;
  margin-top: 25px;
  height: 275px; 
  width: 220px;
}

.js-your-address, legend, .js-search-results, .js-new-search, .js-official-name  {
  margin-left: 25px;
  margin-top: 25px;
}

.js-error-message {
  margin-top: 25px;
  position: relative;
}


button {
  background-color: #04befe;
  border: 5px solid #04befe;
}

form {
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 33%;
  height: 25px;
  padding: 5px; 
  margin-top: 15px;
}

a:link {
  color: #0157ae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}